.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.pizzaDisplay {
  background-color:#FCBF49;
  display: flex;
  flex-wrap: wrap;

}

.pizzaCard {
  flex-grow: 1;
  width: 30%;
  height: 500px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.add-btn {
  margin-right: auto;
  margin-left: auto;
}