form {
    margin-left:5%;
    text-align: left;
    float: left;
    margin-top: -48px;
}

#radio{
    display: inline-flex;
    float: right;
    margin-right: 5%;
    background-color: #003049;
    padding: 30px;
    border-radius: 5%;
    color: white;
    border: 2px solid white;
}

#demo-radio-buttons-group-label {
    color: white;
}